<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>articles</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/YOURUSER/bin/standardize-filenames.rb</string>
        <string>/Users/YOURUSER/Documents/articles</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/YOURUSER/Documents/articles</string>
    </array>
</dict>
</plist>